@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-6">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <table class="table table-warning">
            <tr>
                <td>First Name: </td>
                <td><input type="text" id="txtFirstName" name="FirstName" class="form-control" /></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input type="text" id="txtLastName" name="LastName" class="form-control" /></td>
            </tr>
            <tr>
                <td>Address: </td>
                <td><input type="text" id="txtAddress" name="Address" class="form-control" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" class="btn btn-primary" /></td>
            </tr>
        </table>
        @ViewBag.Formvalue
    </form>
</div>